.section {
  min-height: 100vh;
  align-items: center;
  background-color: white;
}

.title {
  padding: 2rem 5rem;
  font-weight: 800;
  font-size: xx-large;
}

.description {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  padding: 3rem;
  /* flex-flow: column wrap; */
}

.logo {
  width: 40%;
}

.descriptionText {
  width: 50%;
  padding: 3rem 1rem;
}

.nextCompetition {
  padding: 2rem 5rem;
  background-color: whitesmoke;
}

.nextCompetition h3 {
  margin-bottom: 1rem;
}
